#gantt-chart, #filtered-gantt-chart{
    display: flex;
    margin: 15px auto;
}

.gantt-process{
    border: 1px solid black;
    padding: 6px;
    display: inline;
    margin: auto 5px;
    min-width: 30px;
}

.time{
    margin-top: 7.5px;
    margin-left: 5px;
}
.gantt-container{
    display: flex;
    flex-direction: column;
}

.gantt-container:last-of-type .arrow{
    display: none;
}

.chart-headings, #stats-table{
    display: none;
}

.last-time{
    position: relative;
    top: 25px;
    right: 15px;
}